@{
    ViewData["Title"] = "OCR";
}
<div ng-app="ocr" ng-controller="OCRController as ctl" class="row">
    <div class="col-lg-2">
        <p style="padding-left:5px;">Image to process:</p>
        <div title="Englidh" style="padding:5px;margin:5px;cursor:pointer;border:1px solid #CCC;" ng-click="ctl.LoadCanvas('img_1')">
            <img id="img_1" src="images/en.jpg" class="img-responsive" style="max-width:130px;"/>
        </div>
        <div title="Bengali" style="padding:5px;margin:5px;cursor:pointer;border:1px solid #CCC;" ng-click="ctl.LoadCanvas('img_2')">
            <img id="img_2" src="images/bn.jpg" class="img-responsive" style="max-width:130px;"/>
        </div>
    </div>
    <div class="col-lg-8">
         <p>Image Canvas:</p>
         <div>
             <div style="overflow:auto;min-height:50px;max-width:600px;">
                <canvas id="ocrQueue" width="600" height="32">
                Your browser does not support the HTML5 canvas tag.
                </canvas>
               
            </div>
            <div>
                <button ng-click="ctl.LoadQuiue(-1)"> << </button>
                <button ng-click="ctl.LoadQuiue(1)"> >> </button>
            </div>
            <div style="overflow:auto">
            <canvas id="ocrCanvas" width="600" height="424">
                Your browser does not support the HTML5 canvas tag.
            </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
    </div>
